<header>
    <pre class="ascii">




       _              _                   _     _                     ____            _               
      / \   _ __ ___ | |__   ___ _ __ ___| |_  | |    __ ___      __ |  _ \ _____   _(_) _____      __
     / _ \ | '_ ` _ \| '_ \ / _ \ '__/ __| __| | |   / _` \ \ /\ / / | |_) / _ \ \ / / |/ _ \ \ /\ / /
    / ___ \| | | | | | | | |  __/ |  \__ \ |_  | |__| (_| |\ V  V /  |  _ <  __/\ V /| |  __/\ V  V / 
   /_/   \_\_| |_| |_|_| |_|\___|_|  |___/\__| |_____\__,_| \_/\_/   |_| \_\___| \_/ |_|\___| \_/\_/  
   
   
                                                                            

                                  
    </pre>
    <ul class="nav-list">
      <li><a href="{{ .Site.BaseURL }}">Home</a></li>
      <li><a href="/publications/">Publications</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </header>

  <div class="line"></div>
