<header>

  <div class="hero-bar">
    <div class="hero-bar-content">
      <h1>Amherst College Law Review</h1>
      <p>An Interdisciplinary Undergraduate Law Journal</p>
    </div>
  </div>  

    <div class="header-content">
      <ul class="nav-list">
        <li><a href="{{ .Site.BaseURL }}">HOME</a></li>
        <li><a href="/issues/">ISSUES</a></li>
        <li><a href="/contact/">CONTACT</a></li>
        <li><a href="/tjwalsh/">tjwalsh</a></li>
      </ul>
    </div>

  </header>

  <div class="line"></div>
