<header>

  <div class="hero-bar">
    <div class="hero-bar-content">
      <h1 class="amherst-college-law-review-header">Amherst College Law Review</h1>
      <p>An Interdisciplinary Undergraduate Law Journal</p>
    </div>
  </div>  

    <div class="header-content">
      <ul class="nav-list">
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="/issues/">Issues</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>

  </header>

  <div class="line"></div>
